body{
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.grid-container{
    display: grid;
    grid-template-rows: 1fr;
    /* margin-right: 70px; */
}

header{
    width: 100%;
    top: 0;
    left: 0;
   position: fixed;
   background-color: white; 
   margin: 0; 
}
.logo{
    font-family: 'Norican', cursive;
    margin-left: 30px;
    
}
ul {
     width: 100%;
     padding-top: 17;
     
  }

nav{    
    color: black;
    width: 100%;
     
}
a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

footer{
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: white;
    
    
}

.item{
    background-color: lightgray;
    margin: 5px;
    width: 280px;
    height: 280px;
    padding: 10px;
    /* float: left; */
    text-align: center;
    margin: 10;
}

.item img{
    width: 200;
    height: 200;
    
}
main{
    margin: auto;
    padding: 30px;
}
.menu{
    margin-top: 40px;
    padding: 10px;
    background-color: gold;
    font-family: 'Norican', cursive;
    font-size: medium;
    width: 280px;
    height: fit-content;
    text-align: center;
}

.total{
    clear:both;
    background-color: gold;
    padding: 10px;
    width: 280px;
    text-align: center;
}

@media (min-width: 768px){
    .grid-container {
        grid-gap: 15px; 
        grid-template-columns: repeat(3,33%);
       } 

      .menu{
        grid-column: span 3;
      }

      .item{
        grid-column: span 1;
      }
      .item{
        grid-column: span 1;
      }
      .item{
        grid-column: span 1;
      }

      .total{
        grid-column: span 3;
      }

      .logo{
        grid-column: span 1;
      }

      nav{
        grid-column: span 2;
      }
}

@media (max-width: 768px){
    .menu{
        margin-top: 90px;
    }
}