body{
    background-color: lightcyan;
    font-size: 20px;
}

h1{
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h2{
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

h4{
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    line-height: 20px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.upperCase{
    text-transform: uppercase;
}

.imageFloat{
    float: left;
    padding: 17px;
}

p #b-lightcoral{
    color:lightcoral;
}